@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    font-family    : 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.toggle {
    position           : fixed;
    top                : 30px;
    right              : 30px;
    width              : 50px;
    height             : 50px;
    background         : #ea4c89 url(img/menu.png);
    background-size    : 30px;
    background-position: center;
    background-repeat  : no-repeat;
    cursor             : pointer;
    z-index            : 1000;
}

.toggle.active {
    background         : #ea4c89 url(img/close.png);
    background-size    : 25px;
    background-position: center;
    background-repeat  : no-repeat;
}

section {
    padding   : 100px;
    min-height: 100vh;
}

.banner {
    position: relative;
    width   : 100%;
}

.banner .imgSidebar {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 500px;
    height  : 100%;
}

.banner .imgSidebar img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.banner .contentBx,
.sidebar {
    position       : absolute;
    top            : 0;
    right          : 0;
    width          : calc(100% - 500px);
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 100px;
}

.banner .contentBx h4 {
    font-size  : 1.5em;
    color      : #333;
    font-weight: 300;
}

.banner .contentBx h4 span {
    color      : #ea4c89;
    font-size  : 1.5em;
    font-weight: 700;
}

.banner .contentBx h2 {
    font-size  : 3em;
    color      : #333;
    line-height: 1em;
}

p {
    font-size  : 1.1em;
    margin     : 20px 0;
    font-weight: 300;
}

.btn {
    background     : #ea4c89;
    color          : #fff;
    padding        : 10px 30px;
    display        : inline-block;
    text-decoration: none;
    font-weight    : 500;
    letter-spacing : 2px;
}

.btn:hover {
    background: #fff;
    color     : #ea4c89;
    outline   : 2px solid #ea4c89;
}

.sidebar {
    position       : fixed;
    background     : #000;
    display        : flex;
    justify-content: center;
    align-items    : center;
    transition     : 0.5s;
    padding        : 40px;
    z-index        : 100;
    right          : -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color          : #fff;
    text-decoration: none;
    font-size      : 2em;
    margin         : 10px 0;
    font-weight    : 300;
    letter-spacing : 2px;
    text-transform : uppercase;
}

.sidebar ul li a:hover {
    color: #ea4c89;
}

.sci {
    position       : absolute;
    left           : 100px;
    bottom         : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.sci li {
    margin-right: 10px;
    list-style  : none;
}

.sci li img {
    transform: scale(0.5);
    opacity  : 0.7;
}

.sci li img:hover {
    opacity: 1;
}

.title {
    width     : 100%;
    text-align: center;
}

.title h2 {
    position      : relative;
    color         : #ea4c89;
    font-size     : 1.8em;
    font-weight   : 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    display  : inline-block;
}

.title h2::before {
    content   : '';
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
    bottom    : -10px;
    width     : 60px;
    height    : 4px;
    background: #000;
}

.title.white h2,
.title.white p {
    color: #fff;
}

.title.white h2::before {
    content   : '';
    background: #ea4c89;
}

.about {
    background: #000;
}

.about .content {
    display        : flex;
    justify-content: space-between;
    margin-top     : 40px;
}

.about .content .textBx {
    min-width: 49%;
    width    : 49%;
}

.about .content .textBx p {
    color: #fff;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img {
    max-width: 100%;
}

.services .content {
    display        : flex;
    justify-content: center;
    flex-direction : row;
    flex-wrap      : wrap;
}

.services .content .serviceBx {
    padding   : 40px 20px;
    max-width : 300px;
    width     : 300px;
    margin    : 20px;
    text-align: center;
    background: #f5f5f5;
}

.services .content .serviceBx:hover {
    background: #ea4c89;
}

.services .content .serviceBx img {
    max-width    : 80px;
    /* transition: 0.5s; */
}

.services .content .serviceBx:hover img {
    filter: invert(1);
}

.services .content .serviceBx h2 {
    margin-top   : 20px;
    margin-bottom: 10px;
    font-size    : 20px;
    font-weight  : 600;
    /* transition: 0.5s; */
}

.services .content .serviceBx:hover h2 {
    color: #fff;
}

.services .content .serviceBx p {
    margin       : 0;
    /* transition: 0.5s; */
}

.services .content .serviceBx:hover p {
    color: #fff;
}

.work .content {
    display        : flex;
    justify-content: center;
    flex-direction : row;
    flex-wrap      : wrap;
}

.work .content .workBx {
    position  : relative;
    width     : 220px;
    height    : 220px;
    margin    : 10px;
    transition: 0.5s;
    text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.work .content .workBx .imgBx img {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.work .content .workBx .textBx {
    background    : #fff;
    opacity       : 0;
    transition    : 0.5s;
    display       : flex;
    flex-direction: column;
}

.work .content .workBx:hover .textBx {
    opacity        : 1;
    background     : rgba(255, 255, 255, 0.788);
    backdrop-filter: blur(4px);
    box-shadow     : 0 7px #ea4c89;
    display        : flex;
    flex-direction : column;
}

.work .content .workBx .textBx a {
    text-decoration: none;
}

.work .content .workBx .textBx h3 {
    color         : #ff2a7c;
    text-transform: uppercase;
    font-size     : 1em;
}

.contact {
    background     : #000;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.contact .contactForm {
    position     : relative;
    width        : 700px;
    margin       : auto;
}

.contact .contactForm .row {
    width  : 100%;
    display: flex;
}

.contact .contactForm .row .col50 {
    width : 50%;
    margin: 10px;
}

.contact .contactForm .row .col100 {
    width     : 100%;
    margin    : 10px;
    text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea {
    width     : 100%;
    padding   : 10px;
    border    : none;
    outline   : none;
    background: #111;
    color     : #fff;
    font-size : 16px;
    resize    : none;
}

.contact .contactForm .row textarea {
    height: 100px;
}

.contact .contactForm .row input[type="submit"] {
    background    : #ea4c89;
    color         : #fff;
    padding       : 10px 30px;
    display       : inline-block;
    font-weight   : 500;
    letter-spacing: 2px;
    cursor        : pointer;
    max-width     : 150px;
}

.contact .contactForm .row input[type="submit"]:hover {
    background: none;
    outline   : 2px solid #ea4c89;
}

.copyright {
    color     : #fff;
    background: #111;
    text-align: center;
    padding   : 10px;
}

.copyright p {
    /* margin: 0; */
    font-size: 13px
}

.kotak {
    display  : flex;
    flex-wrap: wrap;
}

.kotak .kanan {
    display           : flex;
    /* justify-content: center; */
    align-items       : flex-start;
    flex-direction    : column;
    /* margin-left    : 20px; */
    padding           : 60px 20px 20px;
    box-sizing        : border-box;
}

.icon .fab,
.icon .far,
.icon .fas {
    margin-right: 10px;
    color       : #ea4c89;
}

.icon {
    margin: 20px 0;
    color : white;
}

@media screen and (min-width: 991px) and (max-height: 1152px) {
    .contact .kotak{
        flex-direction: column;

    }
    .kotak .kanan {
        flex-direction: row;
        margin        : auto;
    }

    .icon {
        margin: 0 20px;
    }
}
@media(max-width: 991px) {
    .banner {
        display       : flex;
        flex-direction: row;
    }

    .banner .imgSidebar {
        width: 40%;
    }

    .banner .contentBx,
    .sidebar {
        width: calc(100% - 350px);
    }

    .sidebar {
        width  : 100%;
        padding: 40px;
    }

    .toggle {
        right: 40px;
    }

    .sci {
        left: 100px;
    }

    section {
        padding: 100px;
    }

    .about .content {
        flex-direction: column;
    }

    .about .content .textBx {
        min-width: 100%;
        width    : 100%;
    }

    .about .content {
        margin-top: 0px;
    }

    .about .content .imgBx {
        margin-left: 0px;
    }

    .services .content .serviceBx {
        padding  : 30px 20px;
        max-width: 340px;
        margin   : 10px;
    }

    .contact .contactForm {
        width: 100%;
    }

    .contactForm .row {
        width    : 100%;
        display  : flex;
        flex-wrap: wrap;
    }

    .contact .contactForm .row .col50 {
        width : 100%;
        margin: 10px;
    }

    .sidebar ul li a {
        font-size: 1.5em;
    }

    section {
        padding: 40px;
    }

    .kotak .kanan {
        flex-direction: row;
        margin        : auto;
    }

    .kotak .kanan p {
        font-size: 1em;
    }

    .icon {
        margin: 0 20px;
    }
}

@media (max-width: 840px) {

    .services .content .serviceBx,
    .work .content .workBx {
        max-width: 100%;
        margin   : 10px 0;
        width    : 100%;
    }

    .banner {
        display       : flex;
        flex-direction: column;
    }

    .banner .sidebar {
        position: relative;
    }

    .banner .contentBx div {
        margin-top: 350px;
    }

    .banner .contentBx,
    .sidebar {
        width  : 100%;
        padding: 40px;
    }

    .sci {
        left: 40px;
    }

    .banner .imgSidebar {
        width : 100%;
        height: 50%;
    }

    .banner .contentBx h4 {
        font-size: 1em;
    }

    .banner .contentBx h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .kotak .kanan p {
        font-size: 0.9em;
    }
    .sidebar ul li{
        margin: 20px 0;
    }
}

@media screen and (max-width: 500px) and (max-height: 770px) {
    .banner .imgSidebar {
        display: none;
    }

    .banner .contentBx div {
        margin-top: 0;
    }

    p {
        font-size: 0.8em;
    }

    .kotak .kanan {
        flex-wrap      : wrap;
        justify-content: center;
    }

    .kotak .kanan p {
        font-size : 0.8em;
        margin-top: 10px;
    }
    .sidebar ul li{
        margin: 15px 0;
    }
}