$custom-theme-colors: (
  "fbfbfb": #fbfbfb,
  "neutral-100": #f2f4f7,
  "neutral-200": #e4e7ec,
  "neutral-300": #d0d5dd,
  "neutral-400": #98a2b3,
  "neutral-500": #667085,
  "neutral-600": #475467,
  "neutral-700": #344054,
  "neutral-800": #1d2939,
  "neutral-900": #101828,
  "primary-100": #E9F5D6,
  "primary-200": #D1EBB0,
  "primary-300": #9FC47A,
  "primary-400": #658948,
  "primary-500": #243B16,
  "primary-600": #1B3210,
  "primary-700": #132A0B,
  "primary-800": #0C2207,
  "primary-900": #071C04,
  "teal-100": #D2F6E3,
  "teal-200": #A9EDCE,
  "teal-300": #73CBAC,
  "teal-400": #459782,
  "teal-500": #175349,
  "teal-600": #104743,
  "teal-700": #0B3A3B,
  "teal-800": #072B30,
  "teal-900": #042027,
  "gold-100": #FCF8E4,
  "gold-200": #FAEFCA,
  "gold-300": #F0DFAB,
  "gold-400": #E2CB91,
  "gold-500": #CFB06C,
  "gold-600": #B28F4E,
  "gold-700": #957136,
  "gold-800": #785422,
  "gold-900": #634014,
);

$custom-spacers: (
  // 2: 2px,
  // 4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  32: 32px,
  40: 40px,
  48: 48px,
  56: 56px,
  64: 64px,
  72: 72px,
  80: 80px,
  88: 88px,
  96: 96px,
  100: 100px,
  120: 120px,
  228: 228px
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// $spacers: ();
$spacers: map-merge($spacers, $custom-spacers);