$accordion-button-active-bg: #175349;

$accordion-button-active-color: #f2f4f7;

$accordion-button-focus-border-color: #D2F6E3;
$accordion-border-color: #e4e7ec;

$accordion-icon-active-color: #f2f4f7;
$accordion-button-focus-box-shadow: none;